/* html {
  overflow-x: hidden;
  overflow-y: scroll;
} */

body {
  margin: 0;
  width: 100%;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --white: #fff;
  --black: #000000;
  --bg-color-1: #282a35;
  --bg-green: #04aa6d;
  --bg-green-hover: #04a46d;
  --bg-yellow: #fff4a3;
  --bg-light-green: #d9eee1;
  --bg-grey: #e7e9eb;
  --bg-pink: #ffb3bb;
  --bg-turq: #96d4d4;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: var(--white);
}

.top-left {
  padding: 15px;
  border: none;
  background-color: var(--white);
  font-size: 1rem;
}

.top-left:hover {
  background-color: var(--bg-green-hover);
  color: var(--white);
}

.menu {
  display: none;
}

.image {
  background-image: url("../public/W3Schools_logo.svg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 4vh;
  width: 4vw;
  margin-left: 1rem;
}

.top-right {
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  background-color: var(--white);
  margin-left: 1rem;
  position: relative;
}

.top-right:hover {
  background-color: buttonface;
}

.top-right:nth-child(3) {
  margin-left: 1rem;
  z-index: 5;
  background-color: var(--bg-green);
  color: var(--white);
}

.top-right:nth-child(4) {
  margin-right: 3rem;
  margin-left: -13px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: buttonface;
}

.top-right:nth-child(4):hover {
  background-color: #04be7a;
  color: var(--white);
}

.header-left {
  align-items: center;
  display: flex;
}

.container {
  display: block;
}

.left-width1 {
  width: 100%;
}

.left-width2 {
  width: 75%;
}

.right-width1 {
  width: 0;
  display: none;
}

.right-width2 {
  width: 25%;
}

.cart-icon {
  font-size: 28px;
  text-align: center;
}

/* .cont-right .newRight {
  width: 25%;
} */

/* header 2 */
.header2 {
  height: 35px;
  width: 100vw;
  background-color: var(--bg-color-1);
  position: fixed;
  z-index: 2;
  top: 45px;
  display: flex;
  overflow-x: hidden;
}

.lang {
  height: 100%;
  border: none;
  background-color: #282a35;
  color: white;
  padding: 8px 16px;
}

.lang:hover {
  background-color: var(--black);
  cursor: pointer;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

/* section home */
.home {
  width: 100%;
  height: 80vh;
  background-color: var(--bg-color-1);
  padding: 2px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.home h1 {
  font-size: 4rem;
  position: relative;
  top: 3rem;
  color: var(--white);
}

.home p {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--bg-yellow);
  line-height: 2.5;
}

.home input {
  border: none;
  outline: none;
  width: 30rem;
  height: 2.3rem;
  border-radius: 25px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.home button {
  width: 7rem;
  height: 2.9rem;
  padding: 0.3rem 1rem;
  border-radius: 0 25px 25px 0;
  border: none;
  outline: none;
  background-color: var(--bg-green);
  position: relative;
  top: -2.9rem;
  left: 79%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  /* box-sizing: border-box; */
}

.home button:hover {
  background-color: #068e5e;
}

.home a {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  top: -13px;
}

.home a:hover {
  color: var(--bg-yellow);
}

/* HTML */
.html {
  background-color: var(--bg-light-green);
  height: 85vh;
  width: 100%;
  padding: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.html-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.html h1 {
  font-size: 6.2rem;
  margin: 0;
  font-weight: 700;
  line-height: 1.6;
}

.html p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 1.2rem 0;
}

.btn {
  border-radius: 25px;
  padding: 8px 16px;
  width: 13rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  border: none;
  background-color: #04aa6d;
}

.remove-btn {
  background-color: var(--bg-pink);
  color: black;
}

.example-box {
  height: 25rem;
  width: 22rem;
  background-color: var(--bg-grey);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 15px;
}

.example-box h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.inner-example-box {
  height: 68%;
  background-color: var(--white);
  border-left: 3px solid var(--bg-green);
}

.example-box button {
  border-radius: 25px;
  padding: 8px 30px;
  border: none;
  background-color: var(--bg-green);
  color: var(--white);
  margin-top: 1rem;
  font-size: 1rem;
}

/* css */
.css {
  background-color: var(--bg-yellow);
  height: 75vh;
  width: 100%;
  padding: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.css-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css h1 {
  font-size: 5.7rem;
  margin: 0;
  font-weight: 700;
  line-height: 1.6;
}

.css p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 1.2rem 0;
}

/* js */

.javascript {
  background-color: var(--bg-color-1);
  height: 55vh;
  width: 100%;
  padding: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.javascript-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.javascript h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 700;
  color: var(--white);
  line-height: 2.2;
}

.javascript p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 1.2rem 0;
  color: var(--bg-yellow);
}

.example-box-js {
  height: 20rem;
  width: 22rem;
  background-color: var(--bg-grey);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 15px;
}

.example-box-js h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.inner-example-box-js {
  height: 60%;
  background-color: var(--white);
  border-left: 3px solid var(--bg-green);
}

.example-box-js button {
  border-radius: 25px;
  padding: 8px 30px;
  border: none;
  background-color: var(--bg-green);
  color: var(--white);
  margin-top: 1rem;
  font-size: 1rem;
}

/* python */
.python {
  background-color: var(--bg-light-green);
  height: 65vh;
  width: 100%;
  padding: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.python-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.python h1 {
  font-size: 4.2rem;
  margin: 0;
  font-weight: 700;
  line-height: 2;
}

.python p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 1.2rem 0;
}

.example-box-py {
  height: 20rem;
  width: 22rem;
  background-color: var(--bg-grey);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 15px;
}

.example-box-py h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.inner-example-box-py {
  height: 60%;
  background-color: var(--white);
  border-left: 3px solid var(--bg-green);
}

.example-box-py button {
  border-radius: 25px;
  padding: 8px 30px;
  border: none;
  background-color: var(--bg-green);
  color: var(--white);
  margin-top: 1rem;
  font-size: 1rem;
}

/* sql */
.sql {
  background-color: var(--bg-turq);
  height: 65vh;
  width: 100%;
  padding: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.sql-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sql h1 {
  font-size: 4.2rem;
  margin: 0;
  font-weight: 700;
  line-height: 2;
}

.sql p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 1.2rem 0;
}

.example-box-sql {
  height: 18rem;
  width: 22rem;
  background-color: var(--bg-grey);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 15px;
}

.example-box-sql h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.inner-example-box-sql {
  height: 55%;
  background-color: var(--white);
  border-left: 3px solid var(--bg-green);
}

.example-box-sql button {
  border-radius: 25px;
  padding: 8px 30px;
  border: none;
  background-color: var(--bg-green);
  color: var(--white);
  margin-top: 1rem;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

/* 6 box */
.php {
  width: 100%;
  background-color: var(--bg-color-1);
  padding: 16px 0;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  box-sizing: border-box;
}

.php .btn {
  width: 10rem;
}

.crs-container {
  width: 50%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  border-radius: 15px;
  gap: 1rem;
  box-sizing: border-box;
}

.crs-container .btn {
  font-size: 0.8rem;
}

.crs-container h1 {
  margin: 0;
  font-size: 2.4rem;
}

.crs-container:nth-child(1) {
  background-color: var(--bg-pink);
  margin-left: 2rem;
}

.crs-container:nth-child(1) button:nth-child(3) {
  background-color: var(--bg-yellow);
  color: var(--black);
}

.crs-container:nth-child(2) {
  background-color: var(--bg-yellow);
  gap: 1rem;
}

.crs-container:nth-child(3) {
  background-color: var(--bg-grey);
  margin-left: 2rem;
  gap: 1rem;
}

.crs-container:nth-child(4) {
  background-color: var(--bg-light-green);
  gap: 1rem;
}

.crs-container:nth-child(5) {
  background-color: var(--bg-turq);
  margin-left: 2rem;
  gap: 1rem;
}

.crs-container:nth-child(6) {
  background-color: var(--bg-grey);
  gap: 1rem;
}

/* cart */

#course {
  background-color: var(--bg-light-green);
  height: 93.8vh;
  padding: 1px;
  position: fixed;
  width: 25%;
  top: 48px;
  z-index: 3;
}

#course-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--black);
  padding: 0 1.2rem;
}

#course-container h1 {
  margin: 0.3rem;
}

.list {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: var(--bg-yellow);
  background-color: var(--black);
  padding: 1px;
}

.list :first-child {
  margin-left: 2rem;
}

.list :last-child {
  margin-right: 4rem;
}

#crs-list {
  height: 70.5%;
}

.li {
  display: flex;
  justify-content: space-between;
}

.cost {
  display: flex;
}

.li h3:first-child {
  margin: 0 2rem 0 0;
  line-height: 1.5;
}

.li h3:nth-child(2) {
  margin: 0 -5rem 0 0;
}

#total {
  border-top: 2px solid var(--black);
  /* display: flex; */
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;
}
.totalValue {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#total button {
  width: 100%;
  margin: 0.6rem auto;
}

#total h3 {
  margin: 0;
}

#removeOne {
  color: var(--bg-color-1);
  margin-right: 2rem;
  text-align: center;
}

.search-icon {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.pymntClose {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: ; */
}
.pymntContainer {
  position: fixed;
  top: 10rem;
  left: 10rem;
  height: 60vh;
  width: 45vw;
  background-color: #282a35;
  color: #e7e9eb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 12px;
  box-sizing: border-box;
}
.pymntContainer button {
  margin: 2rem 0;
  width: 20vw;
}
.qr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.qrcode {
  width: 30vw;
}
.paymentContainer {
  width: 60rem;
  height: 70vh;
  background-color: #d9eee1;
  position: fixed;
  top: 2rem;
  left: 10rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}
.pymntAlert {
  height: 60vh;
  width: 70vw;
  background-color: #ffb3bb;
  z-index: 3;
  position: absolute;
  top: 20vh;
  left: 15vw;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pymntAlert h3 {
  font-size: 3vw;
}
span {
  color: blue;
}
.signInCont {
  background-color: #04be7a;
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 4rem auto;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 15px;
}
.signInCont input {
  width: 45vw;
  margin: 0.4rem auto;
  outline: none;
  font-size: 14px;
  border-radius: 3px;
  border: 0;
  padding: 1vw;
}
.signInCont label {
  margin: 0.2rem 1.5rem;
}
.signInCont button {
  width: 30vw;
  background-color: #f77c88;
  margin: 1rem auto;
}
.fp {
  font-size: 14px;
  margin-left: 1.5rem;
}
.signupCont {
  width: 60vw;
  background-color: #d9eee1;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 12vw;
  border-radius: 10px;
}
.signupCont input,
label {
  margin: 0.4rem 0;
  border-radius: 5px;
  border: 0;
  padding: 0.4rem 0;
}
.signupCont button {
  margin: 1rem auto;
}
@media all and (max-width: 980px) {
  .html,
  .css,
  .javascript,
  .python,
  .sql {
    display: block;
    height: auto;
  }

  .home,
  .navbar,
  .header2,
  .html,
  .css,
  .javascript,
  .python,
  .php,
  .sql {
    width: 100%;
    box-sizing: border-box;
  }

  .php {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .crs-container:nth-child(even) {
    margin-left: 2rem;
  }

  .sp {
    display: none;
  }

  .sp2 {
    display: block;
  }

  .header-right {
    display: flex;
  }

  .ex-box-container,
  .ex-box-container-py,
  .ex-box-container-sql {
    padding: 4%;
    box-sizing: border-box;
  }

  .example-box {
    width: 95%;
  }

  .example-box-py,
  .example-box-js,
  .example-box-sql {
    width: 95%;
  }
}

@media all and (max-width: 750px) {
  .active4,
  .active3 {
    display: none;
  }
}

@media all and (max-width: 680px) {
  .image {
    height: 4vh;
    width: 6vw;
  }

  .top-left2 {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 48px;
    background-color: var(--white);
  }

  .top-left3 {
    padding: 15px;
    border: none;
    background-color: var(--white);
    font-size: 1rem;
  }

  .top-left3:hover {
    background-color: var(--bg-green);
    color: var(--white);
  }

  .home {
    width: 100%;
    padding-top: 6rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .home h1 {
    font-size: 280%;
    /* line-height: 1.1; */
    margin-top: -3rem;
  }

  .home p {
    font-size: 90%;
    line-height: 3.2;
  }

  .home input {
    width: 20rem;
  }

  .home button {
    width: 27%;
    position: relative;
    left: 17rem;
    top: -2.9rem;
    padding: 3.3%;
  }

  .top-left {
    display: none;
  }

  .header-right {
    display: flex;
  }

  .menu {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 2rem;
  }

  .menuBorder {
    border-bottom: 2px solid var(--bg-green-hover);
  }

  .sp {
    display: none;
  }

  .sp2 {
    display: flex;
  }

  .crs-container {
    margin: 0.5rem auto !important;
  }

  .left-width2 {
    width: 100%;
  }

  .php {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .ex-box-container {
    display: none;
  }

  .ex-box-container-py {
    display: none;
  }

  .ex-box-container-sql {
    display: none;
  }

  .html,
  .css,
  .javascript,
  .python,
  .sql {
    padding: 4rem 0;
  }

  .html h1,
  .css h1,
  .javascript h1,
  .python h1,
  .sql h1 {
    font-size: 42px;
  }

  .html p,
  .css p,
  .javascript p,
  .python p,
  .sql p {
    font-size: 12px;
  }

  .html button,
  .css button,
  .javascript button,
  .python button,
  .sql button {
    font-size: 10px;
    width: 38%;
  }
  .paymentContainer {
    width: 70vw;
    left: 15vw;
    border-radius: 20px;
  }
  .paymentContainer h1 {
    font-size: 5vw;
  }
  .paymentContainer .btn {
    width: 30vw;
  }
  .paymentContainer .btn:nth-of-type(2) {
    background-color: #f77c88;
  }
  #course button {
    width: 50vw;
    position: relative;
    left: 10vw;
  }
}

@media all and (max-width: 500px) {
  .sp {
    display: none;
  }

  .top-right:nth-child(4) {
    margin-left: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .home h1 {
    font-size: 254%;
  }

  .home p {
    font-size: 80%;
  }

  .home input {
    width: 18rem;
    font-size: 14px;
  }

  .home button {
    width: 27%;
    position: relative;
    left: 75%;
    box-sizing: border-box;
  }

  .home a {
    font-size: 80%;
  }

  .flex {
    display: block;
  }

  .right-width2 {
    width: 100%;
    position: fixed;
    top: 80px;
  }

  #course {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
  }

  #c-head {
    text-align: center;
  }
  .pymntContainer {
    width: 70vw;
    position: fixed;
    left: 15vw;
  }
  .qrcode {
    width: 40vw;
  }
  .pymntContainer .btn {
    width: 40vw;
  }
}
